/* ----- << Global Settings >> -----*/
/* Import Nunito font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Cut&display=swap');

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}

/*----- << Home Page Styling >>----- */


/* Header Styling */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #B10DC9;
    width: 100%;
    font-family: 'nunito', Times, serif;
    box-sizing: border-box;
}

/* Style for the logo */
header .logo img {
    height: 50px;
    width: auto;
}

/* Navigation bar Styling */
header .nav-links ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header .nav-links ul li {
    margin-right: 20px;
}

header .nav-links ul li a {
    color: white;
    text-decoration: none;
}

header .nav-links ul li a:hover {
    cursor: pointer;
    border-radius: 5px;
    padding: 2px;
    border: 1px solid #6610F2;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
}

.hamburger-icon {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
}

.hamburger-icon .bar {
    background-color: white;
    height: 4px;
    width: 100%;
}


/*Body Styling*/

main {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.flex-body-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-bottom: 40px;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    line-height: 1.6;
}

#color-change {
    color: #B10DC9;
    font-family: 'Nova cut', Times, serif;
    margin-top: 20px;
}

#text-purple {
    color: #6610F2;
    font-family: 'nunito', Times, serif;
    margin-top: 20px;
}

.flex-body-right {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 20px;
}

.flex-body-right:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../images/background-main.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.6;
    z-index: -1;
}

#border {
    border: 2px solid #B10DC9;
    border-radius: 6px;
    background-color: white;
    padding: 20px;
    font-family: 'Nova cut', Times, serif;
    text-align: center;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
}

main div a {
    border: 1px solid #ebe5fc;
    border-radius: 6px;
    color: #6610F2;
    background-color: #EBE5FC;
    cursor: pointer;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
    padding: 10px 30px;
    display: inline-block;
}

input,
a {
    display: block;
    margin: 10px 0;
    align-items: center;
}

main div a:hover {
    background-color: #9b0da8;
    color: #EBE5FC;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
}

main div input {
    border: 1px solid #6610F2;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
    width: 100%;
}

.main-image-one {
    width: auto;
    height: 350px;
    margin: 20px;
}

.main-image-two {
    width: auto;
    height: 350px;
}

/* Footer Styling */

footer {
    background-color: #B10DC9;
    color: white;
    padding: 1em;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
    right: 0;
    z-index: 3;
}

.flex-footer {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px;
    color: white;
}

.flex-footer .icon {
    font-size: 2rem;
    text-decoration: none;
    color: white;
}

.flex-footer>a:hover {
    cursor: pointer;
    padding: 2px;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.footer-nav {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    width: 100%;
    gap: 20px;
    text-decoration: none;
    list-style-type: none;

}

.nav-item:hover {
    cursor: pointer;
    border-radius: 5px;
    padding: 2px;
    border: 1px solid #6610F2;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
}

/* Styling adventures page */

.change-flex {
    display: block;
    background-image: url('../images/glitter.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image-left-top {
    width: auto;
    height: 250px;
    margin-left: 0px;
    margin-right: 100px;
    margin-top: 0px;
}

.margin-center {
    margin: 50px;
}

.flex-styling {
    display: flex;
    color: white;
    font-family: 'Nova cut', Times, serif;
    margin-top: 20px;
    text-align: center;
}

.flex-boxes {
    display: flex;
}

.image-center-bottom {
    width: auto;
    height: 250px;
    margin: 0px;
}

#boxes-challenge {
    border: 2px solid #6610F2;
    border-radius: 6px;
    background-color: #874ae9;
    padding: 20px;
    font-family: 'Nova cut', Times, serif;
    text-align: center;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
    margin: 40px;
    width: 50%;
}

#title-color {
    color: white;
}


#boxes-challenge:hover {
    background-color: #6610F2;
}

/*-------<< Responseive styling for small screen------->>*/

@media only screen and (max-width: 600px) {

    main {
        min-height: auto;
        flex-direction: column;
    }


    .nav-links {
        display: none;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        padding: 20px;
    }

    .nav-links ul {
        flex-direction: column;
    }

    .nav-links ul li {
        margin: 10px 0;
    }

    .hamburger-icon {
        display: flex;
    }


    .nav-links.active {
        display: block;
    }

    .flex-body-left {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .flex-body-right {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-image-one {
        flex-direction: column;
        height: 150px;
    }

    .main-image-two {
        flex-direction: column;
        height: 150px;
    }

    .footer-nav {
        gap: 10px;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .flex-footer {
        flex-direction: column;
        gap: 10px;
    }

    .footer-nav {
        flex-direction: column;
        gap: 10px;
    }
}