/* ----- << Global Settings >> -----*/
/* Import Nunito font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Cut&display=swap');

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}

/*----- << Home Page Styling >>----- */


/* Header Styling */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #B10DC9;
    width: 100%;
    font-family: 'nunito', Times, serif;
    box-sizing: border-box;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);

}

/* Style for the logo */
header .logo img {
    height: 50px;
    width: auto;
}

/* Navigation bar Styling */
header .nav-links ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header .nav-links ul li {
    margin-right: 20px;
}

header .nav-links ul li a {
    color: white;
    text-decoration: none;
    padding: 3px;
}

header .nav-links ul li a:hover {
    cursor: pointer;
    border-radius: 5px;
    padding: 2px;
    background-color: #682a72ed;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
}

.hamburger-icon {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
}

.hamburger-icon .bar {
    background-color: white;
    height: 4px;
    width: 100%;
}


/*Body Styling*/

main {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.flex-body-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-bottom: 40px;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    line-height: 1.6;
}

#color-change {
    color: #B10DC9;
    font-family: 'Nova cut', Times, serif;
    margin-top: 20px;
}

#text-purple {
    color: #6610F2;
    font-family: 'nunito', Times, serif;
    margin-top: 20px;
}

.flex-body-right {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 20px;
}

.flex-body-right:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../images/background-green.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.6;
    z-index: -1;
}

#border {
    border: 2px solid #B10DC9;
    border-radius: 6px;
    background-color: white;
    padding: 20px;
    font-family: 'Nova cut', Times, serif;
    text-align: center;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
}

main div a {
    border: 1px solid #ebe5fc;
    border-radius: 6px;
    color: #6610F2;
    background-color: #EBE5FC;
    cursor: pointer;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
    padding: 10px 30px;
    display: inline-block;
}

input,
a {
    display: block;
    margin: 10px 0;
    align-items: center;
}

main div a:hover {
    background-color: #9b0da8;
    color: #EBE5FC;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
}

main div input {
    border: 1px solid #6610F2;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
    width: 100%;
}

.main-image-one {
    width: auto;
    height: 350px;
    margin: 20px;
}

.main-image-two {
    width: auto;
    height: 350px;
}

/* Footer Styling */

footer {
    background-color: #B10DC9;
    color: white;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
    right: 0;
    z-index: 3;
}

.flex-footer {
    display: flex;
    justify-content: center;
    gap: 20px;
    color: white;
}

.flex-footer .icon {
    font-size: 2rem;
    text-decoration: none;
    color: white;
}

.flex-footer>a:hover {
    cursor: pointer;
    color: rgb(14, 14, 14);
}

.footer-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
    text-decoration: none;
    list-style-type: none;
}

.nav-item {
    border: 1px solid transparent;

}


.nav-item:hover {
    cursor: pointer;
    border-radius: 5px;
    background-color: #682a72ed;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
}

/* Styling adventures page */

.change-flex {
    display: block;
    background-image: url('../images/glitter.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image-left-top {
    width: auto;
    height: 250px;
    margin-left: 0px;
    margin-right: 100px;
    margin-top: 0px;
}

.margin-center {
    margin: 50px;
}

.flex-styling {
    display: flex;
    color: white;
    font-family: 'Nova cut', Times, serif;
    margin-top: 20px;
    text-align: center;
}

.flex-boxes {
    display: flex;
}

.image-center-bottom {
    width: auto;
    height: 250px;
    margin: 0px;
}

#boxes-challenge {
    border-radius: 6px;
    background-color: #874ae9;
    padding: 20px;
    font-family: 'Nova cut', Times, serif;
    text-align: center;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
    margin: 40px;
    width: 50%;
}

#title-color {
    color: white;
}


#boxes-challenge:hover {
    background-color: #6610F2;
}

/*----- Styling text 1  and text 2 page ----->>*/

.title-text1 {
    color: white;
    font-family: 'Nova cut', Times, serif;
    margin-top: 20px;
    text-align: center;
}

.moving-image {
    width: auto;
    height: 350px;
    animation: moveUpDown 3s ease-in-out infinite;
    margin-top: 100px;
}

.background-green {
    display: block;
    background-image: url('../images/background-green.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.background-purple {
    display: block;
    background-image: url('../images/background-purple.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


#boxes-challenge-white {
    border: 2px solid #6610F2;
    border-radius: 6px;
    background-color: #874ae9;
    padding: 40px;
    font-family: 'Nova cut', Times, serif;
    text-align: center;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
    margin: 100px;
    width: 50%;
    color: white;
}



@keyframes moveUpDown {
    0% {
        transform: translateY(0);
        /* Start position */
    }

    50% {
        transform: translateY(-50px);
        /* Move up 50px */
    }

    100% {
        transform: translateY(0);
        /* Move back to original position */
    }
}



/*------- Stilying Magic Shelf page -------*/


#border-story {
    border: 2px solid #B10DC9;
    border-radius: 6px;
    background-color: white;
    font-size: 18px;
    padding: 20px;
    font-family: 'Nova cut', Times, serif;
    text-align: center;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
    margin: 40px;
}

/*-------Styling meet wizards page-------*/

.flex-round {
    display: flex;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    gap: 20px;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
}

.round-container {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #874ae9;
    padding: 40px;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.4);
}

.round-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.margin-space {
    margin: 40px;
    text-align: center;
    color: white;
    font-family: 'Nova cut', Times, serif;
}

.background-meet {
    background-image: url('../images/background-purple.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*-------<< styling quest1 page------->>*/

.title-text-quest {
    color: white;
    font-family: 'Nova cut', Times, serif;
    margin-top: 30px;
    text-align: center;
    height: 300px;
    width: auto;
    overflow: hidden;
    background-color: #2832287d;
    box-shadow: 5px 6px 9px rgba(68, 70, 69, 0.456);
    border-radius: 30px;
}

.background-black {
    background-color: black;
    display: block;

}

.image-quest1 {
    width: 150px;
    height: auto;
    margin-top: 10px;
}

.flex-quest {
    margin: 40px;
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
}

.border-quest {
    height: 100px;
    width: 200px;
    background-color: #874ae9;
    box-shadow: 5px 6px 9px rgba(180, 66, 237, 0.456);
    border-radius: 6px;
    color: white;
    padding: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-quest-question {
    height: 150px;
    width: 350px;
    background-color: #9b0da8;
    box-shadow: 5px 6px 9px rgba(209, 70, 184, 0.425);
    border: 2px solid #874ae9;
    border-radius: 6px;
    color: white;
    font-size: 24px;
    padding: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-quest:hover {
    background-color: #9b0da8;
}

/*-------<< Responseive styling for small screen------->>*/

@media only screen and (max-width: 600px) {

    /* Styling header and links*/
    header {
        flex-direction: column;
    }

    .nav-links {
        display: none;
        width: 100%;
        text-align: center;
        top: 60px;
        left: 0;
        background-color: #9b0da8;
        padding: 20px;
    }

    .nav-links ul {
        flex-direction: column;
    }

    .nav-links ul li {
        margin: 10px 0;
    }

    .hamburger-icon {
        display: flex;
    }


    .nav-links.active {
        display: block;
    }

    /* Styling home page*/

    main {
        min-height: auto;
        flex-direction: column;
        display: flex;
        align-items: center;
        gap: 0px;
    }

    header {
        gap: 10px;
    }

    .flex-body-left {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px;
        width: 100%;
    }

    .flex-body-right {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .main-image-one {
        flex-direction: column;
        height: 150px;
    }

    .main-image-two {
        flex-direction: column;
        height: 150px;
    }

    /* Styling footer*/
    .footer-nav {
        gap: 10px;
        margin-bottom: 10px;
        margin-top: 20px;
        padding: 0px;
    }

    .flex-footer {
        gap: 10px;
    }

    .footer-nav {
        flex-direction: column;
        gap: 10px;
    }

    /* Styling adventures page*/


    .image-left-top {
        width: 150px;
        height: 150px;
        margin-right: 100px;
    }

    .flex-styling {
        flex-direction: column;
    }

    .flex-boxes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #boxes-challenge {
        width: 90%;
        margin: 20px;
    }

    /* Styling text 1 page*/
    #boxes-challenge-white {
        width: 90%;
        margin: 20px;
        font-size: 20px;
    }

    /* Styling quest1 page*/
    .title-text-quest {
        margin: 30px;
        height: auto;
    }

    .flex-quest {
        flex-direction: column;
    }

    /* Styling Magic self page*/
    #border-story {
        margin: 20px;
    }

    /* Styling meet the Wizards page*/
    .flex-round {
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
        flex-direction: column;

    }
}